
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  /*align-content: space-between;*/
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;

  padding: 8px 16px;
  flex-shrink: 0;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;

}

/*
.left-links, .right-links {
  display: flex;
  gap: 16px;
  padding-right: 16px;
  padding-left: 16px;
}
*/

.content {

  padding: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-basis: 0;
  flex-shrink: 1;
  flex-grow: 1;

  /*
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
*/

}



.footer {
  background-color: rgba(211, 211, 211, 0.534);
  /*align-self: flex-end;*/
}

ul {
  list-style-type: none;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 16px
}


a {
  text-decoration: none;
  color: rgb(110, 110, 110);
}
